@import url('./reset.css');

body {
  margin: 0 auto;
  max-width: 1128px;
  padding: 0 10px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 36px;
}

.search-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}

.input-form {
  width: 270px;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 4px;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:hover {
  border-color: rgba(0, 0, 0, 1);
}

.input-form:focus {
  border-color: rgba(78, 117, 255, 1);
  outline: none;
}

.searchBtn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchBtn:hover {
  background-color: rgba(108, 140, 255, 1);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 358px;
  height: 198px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid rgba(128, 128, 128, 1);
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-card {
  padding: 4px 20px;
  display: flex;
  gap: 32px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.description {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.loader {
  font-size: 28px;
  color: #8c8d8c;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
}

.loader:after {
  content: 'Loading images, please wait...';
  position: relative;
  z-index: 5;
}

.loader:before {
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 40px;
  background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

.iziToast-capsule .iziToast > .iziToast-close {
  background: url(/img/bi_x-lg.svg) no-repeat 50% 50%;
}

.iziToast > .iziToast-body .iziToast-texts .iziToast-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
